# Ignore node_modules directory
node_modules/

# Ignore build output directory (for React apps, this could be 'build' or 'dist')
build/
dist/

# Ignore environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore parcel-bundler cache (if you're using it)
.cache/

# Ignore coverage directory used by testing libraries
coverage/

# Ignore VS Code specific files
.vscode/

# Ignore MacOS system files
.DS_Store

# Ignore lockfiles
package-lock.json
yarn.lock

# Ignore miscellaneous
*.log
.idea/
*.sublime-project
*.sublime-workspace
